# python
*.pyc
*.pyo
*.pyd
*.pyx
*.pxd
*.pxi
*.pxi.in
*.pyx.in
__pycache__
.venv*

*.log
temp_*
*/dev_mode


# go
*.exe
*.dll
*.so
*.dylib

**venv**
**dev_mode**
bazel-bin
bazel-out
bazel-testlogs
bazel-onnyx
bazel-onnyx-test
bazel-onnyx-test-logs
bazel-onnyx-test-examples